# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv

# Testing & Caches
.pytest_cache/
.coverage
htmlcov/

# Local databases & logs
*.log
tickets.db

# Environment variables
.env
.env.local

# IDE
.idea/
.vscode/
*.swp
